// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$white: #ffffff;

$theme-colors: (
    "light":      #e1e1e0,
    "dark":       #3b3b3b,
    "primary":    #4c4d4e,
    "secondary":  #8f9190,
    "info":       #f6941f,
    "success":    #0eb05f,
    "warning":    #e9cd0d,
    "danger":     #fa0513,
);
