// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$primary: #28005B;
$link: #2C00C0;
$info: #5B56F7;
$warning: #ED9600;
$light: #EDF1FC;
$success: #58C322;
$danger: #D41121;
$dark: #1F292E;
